# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

bin
testbin/*
*.test
**/__debug_bin
*.out
.vscode
.idea
*.swp
*~
tilt_modules/
tilt-options.yaml
Dockerfile.dapper*
*.DS_Store
package/manager

# Distribution/packaging
dist/
build/
/.dapper
config/samples/_v1beta1_gpupolicyadapter-vgpu.yaml
deploy/examples/gpu/vgpu.yaml
